@import url("https://milbits.github.io/oldcord/src/components/vars.css");
@import url("https://milbits.github.io/oldcord/src/components/redesign.css");
@import url("https://milbits.github.io/oldcord/src/components/oldContext.css");

div[class^="topic_"] {
    width: 1vw;
} div[class^="nicknames_"] {
    width: 1vw;
}
div[class^="titleWrapper_"]{
    width: 11vw;
}
body {  
  font-family: GG Sans, sans-serif !important;  
}
div[class*="footer_"]:has([aria-label="Discover"]) {
display: none;
}
/** Fonts */
@font-face {
    font-family: "gg sans";
    font-weight: 300;
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsans.woff2) format("woff2");
}

@font-face {
    font-family: "gg sans";
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsans.woff2) format("woff2");
}

@font-face {
    font-family: "gg sans";
    font-style: italic;
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsansitalic.woff2) format("woff2");
}

@font-face {
    font-family: "gg sans";
    font-weight: 500;
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsansmedium.woff2) format("woff2");
}

@font-face {
    font-family: "gg sans";
    font-weight: 600;
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsanssemibold.woff2) format("woff2");
}

@font-face {
    font-family: "gg sans";
    font-weight: 700;
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsansbold.woff2) format("woff2");
}

@font-face {
    font-family: "gg sans";
    font-weight: 700;
    font-style: italic;
    src: url(https://github.com/GreenMonster362905/gg-sans-font/blob/main/ggsansbolditalic.woff2) format("woff2");
}
	/* Emojis/GIF Picker */
	.drawerSizingWrapper__08434 {
		right: 0px !important;
	}
	.contentWrapper__08434 {
	    background-color: var(--background-secondary);
	    border-radius: 8px;
	    box-shadow: var(--shadow-border), var(--shadow-high);
		border: unset;
	}
	.header_fed6d3, .soundboardHeader__08434 {
		background-color: var(--background-secondary);
	    box-shadow: var(--shadow-ledge);
		border-bottom: unset;
	}
	.emojiPicker_c0e32c {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-border), var(--shadow-high);
		border-bottom-right-radius: var(--custom-emoji-picker-border-radius);
		border-bottom-left-radius: var(--custom-emoji-picker-border-radius);
		grid-template-columns: 48px auto;
		grid-template-rows: auto 1fr auto;
		height: var(--custom-emoji-picker-constants-emoji-picker-height);
		width: var(--custom-emoji-picker-constants-min-emoji-picker-width);
	}
	.emojiPickerHasTabWrapper_c0e32c .emojiPicker_c0e32c {
	    background-color: transparent;
	    border-bottom-right-radius: 0;
	    border-bottom-left-radius: 0;
	    box-shadow: none;
	    flex: 1 1 auto;
	    grid-template-rows: auto 1fr auto;
	    height: 100%;
	    width: auto;
	}
	.categoryList_c0e32c {
		top: 58px;
	}
	.expressionPickerCategoryList_a1e0e0 {
		top: 50px;
	}
	.inspector_aeaaeb {
		background-color: var(--background-secondary-alt);
		border-top: unset;
	}
	.emojiPickerHasTabWrapper_c0e32c .categoryList_c0e32c {
		top: 50px;
	}
	.unicodeShortcut_b9ee0c {
		box-sizing: unset;
		border-top: unset;
	}
	.wrapper__14245 {
		background-color: var(--background-secondary);
	}
	.wrapper__4e6ce {
		background-color: var(--background-tertiary);
	}
	.header_c0e32c {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-low);
		margin: 0 -1px;
		padding: 12px;
		border-bottom: unset;
	}
	.childContainer__91a9d {
		padding: 2px 0
	}
	.clickable__9293f .icon__9293f {
		color: var(--interactive-normal);
	}
